@import "../../../../theme/web/custom-variables.scss";
@import "../../../atlas_core/web/_variables.scss";
.chat-card--full-height {
    height: 100%;
}

.card-border {
    border: 1px solid $light-border-color;
}

.card-border-top{
    border-top: 1px solid $light-border-color;
}

.card-statistics {
    width: fit-content;
    .mx-text.statistic {
        min-width: 200px;
    }
}

.card--sticky-content{
    overflow: unset;
    padding-top: 0;
}

.filter-card {
    border-radius: 8px;
    border: 1px solid $border-color-default;
    background: $bg-color-secondary;
    display: flex;
    padding: $spacing-medium;
    margin: $spacing-large 0 0;
    align-items: flex-start;
    align-content: flex-start;
    gap: 48px;
    align-self: stretch;
    flex-wrap: wrap;
}

