@import "../../../../theme/web/custom-variables.scss";
@import "../../../atlas_core/web/_variables.scss";

.tree-width {
    width: 300px;
}

.tree-duration-position-parent {
    position: absolute;
    left: 380px;
}

.tree-duration-position {
    position: absolute;
    left: 400px;
}

.tree-item-hover {
    &:hover,
    &:active,
    &:focus {
        font-weight: 600;
        line-height: 150%;
        cursor: pointer;
        text-decoration-thickness: 1px; 
    }
}