@import "../../atlas_core/web/_variables.scss";


//In Use badges
$background-color-in-use: #E1FAE1;
$border-color-in-use: #4FD84F;

//MCP server badge
$agent-purple: #845EFF;
$agent-purple-light: #E2E0FC;

$table-border-separator-color: #E7E7E9;


//custom size
$size-24: 24px;
$size-28: 28px;
$size-small: 32px;

$page-custom-height: 92vh;


//tools error state
$new-danger: #D31E23;