@import "../agent-builder-variables.scss";
@import "../../../atlas_core/web/_variables.scss";
@import "../../../../theme/web/custom-variables.scss";

//Agents Overview

.agents-page-content-container {
    min-height: -webkit-fill-available;
    min-height: -moz-available;
    display: flex;
    justify-content: center;

    .agents-container--overview {
        width: 90%;
        max-width: 1600px;
        margin: $spacing-medium + $size-28;
        flex-direction: column;

        .td {
            border-bottom: none;
        }

        &.card {
            overflow: unset;
            border-radius: $spacing-medium;
            border: 1px solid $gray-primary;
            padding: $spacing-large;
        }

    }

    .pageheader-with-buttons {
        display: flex !important;
        justify-content: space-between;
        align-items: flex-start;
    }

}

//Version_Details

.agent-page-container {
    width: 90%;
    max-width: 1600px;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    gap: $spacing-large;
    padding: $spacing-medium $spacing-larger $spacing-medium $spacing-larger;
    overflow: hidden;
    box-sizing: border-box;

     @media (max-width: 800px) {
        gap: 0;
        overflow: auto;
    }


    .agent-page-container::after {
        content: '';
        display: block;
        height: $spacing-larger;
        flex-shrink: 0;
    }

    .card {
        width: 100%;
        border-radius: $spacing-medium;
        border: 1px solid $gray-primary;
        overflow: hidden;            
        display: flex;
        flex-direction: column;
        max-width: 100%;             
        box-sizing: border-box;
        * {
            word-break: break-word;
            overflow-wrap: break-word;
            white-space: normal; 
        }
    }

    .divider {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        border-bottom: 1px solid #E7E7E9;
        margin-top: $spacing-medium;
        margin-bottom: $spacing-medium;
    }

    .title-alignment {
        display: flex;
        justify-content: flex-start; 
        align-items: center; 
        padding: 2px;
    }

    .title-alignment-top {
        display: flex;
        justify-content: flex-start; 
        align-items: top;
    }

    .page-container-main {
        flex: 1 1 0;
        width: 60%;
        max-width: 945px;
        max-height: $page-custom-height;
        display: flex;
        flex-direction: column;
        margin-bottom: 0;

        .page-container-main-scroll {
            overflow-y: auto;
            overflow-x: unset;
        }

        .card {
            overflow: unset;
        }
        @media (max-height: 800px) {
            height: 85vh;
        }     
    }
    
    .page-container-grid {
        display: flex;
        flex-direction: column;
    }

    /* Test Agent */
    .page-container-side {
        z-index: 100;
        width: 30%;
        max-width: 472px;
        max-height: $page-custom-height;
        display: flex;
        flex-direction: column;
        padding-top: $size-28;
    }

    .chat-container-agent {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        height: 100%;
        border-left: 1px solid $table-border-separator-color;
        padding-top: $spacing-medium;
        margin-bottom: unset;   
        padding-left: unset;
        padding-right: unset;

        .chat-container {
            padding-left: $spacing-medium;
            padding-right: $spacing-medium;
        }

        .chat-bubble-wrapper {
            .chat-message-card {
                background: $bg-color-secondary;
                border-radius: 8px;
                border: 1px solid $border-color-default;
            }

            &--user .chat-message-card {
                background: $gray-lighter;
                border: 1px solid $gray-lighter;
            }
        }
    }


    @media (max-height: 800px) {
        .page-container-side {
            height: 87vh;

            .card {
                margin-bottom: 0;
            }
        }
    }
    
    .page-header-content {
        display: flex;
        flex-direction: column; 
        gap: $spacing-small;
        align-self: stretch;

        .pageheader-with-buttons {
            display: flex !important;
            margin-bottom: 0;
            align-items: center !important;
            justify-items: center;
            justify-content: space-between;
        }

        .page-header-menu {
            display: flex !important;
            align-items: end !important;
        }
    }
    .page-navigation {
        position: sticky;
        display: flex !important;
        align-items: center !important;
        flex-flow: row !important;
        justify-content: flex-start !important;
        margin-top: 0;
        margin-bottom: $spacing-small;
        z-index: 10;  

        .clickable-hover {
            &:hover,
            &:active,
            &:focus {
                font-weight: 600;
                line-height: 150%;
                cursor: pointer;
                text-decoration: underline;
                text-decoration-thickness: 1px; 
            }
        }
    }

    .page-content {
        width: 100%;
        max-width: 1800px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: fit-content;
    }

    //If a chat was opened, the containers grow to max width
    .content-chat {
        display: block;

        .content-main {
            width: 100%;
            padding-right: unset;
        }

        .content-column {
            width: 100%;
        }
    }

    .panel-header {
        &::after {
            content: "";
        }

        display: flex;
        flex-direction: row;
        border-bottom: 1px solid $table-border-separator-color;
        padding-right: $spacing-small;
        height: fit-content;

        .header-text {
            flex-direction: column;
            margin-left: $spacing-medium;
            padding-right: $spacing-small;
            padding-bottom: $spacing-small;
        }

        .icon-area {
            margin-top: $spacing-small;
            margin-left: auto;
            max-width: 75px;

            .new-chat-icon {
                img {
                    height: $size-24;
                    width: $size-24;
                    margin-right: 0;
                }
            }

            .close-icon {
                border-left: 2px solid $gray-primary;
                padding-left: $spacing-small;
                margin-right: $spacing-small;
                margin-left: $spacing-small;
                height: fit-content;

                img {
                    height: $size-24;
                    width: $size-24;
                    margin-right: 0;
                }
            }
        }
    }

    .panel-content {
        flex: 1 1 0;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
    }

    .card-content {
        //overflow-y: auto;
        overflow-x: hidden;
        margin-bottom: 0;
    }

    .card-header {
        display: flex;
        flex-direction: row;

        &--version {
            z-index: 1;
        }
        .mx-text {
            align-self: center;
            margin-bottom: 0;
        }
    }
}

.combobox-model-selection {
    display: flex;
    flex-grow: 1;

    .model-selection {
        display: flex;
        align-items: center;
        height: max-content;
    
        .mx-image-viewer {
            height: auto;
            width: auto;
            margin-right: $spacing-small;
        }
    }
}

.margin-right-45 {
    margin-right: 45px;
}